.DS_Store
../.idea/
../.DS_Store
tests/__pycache__/
.idea/
/api-test/src/__pycache__/
/regression-test/allure_results/
../api-test/src/__pycache__/
../api-test/tests/__pycache__/
**/__pycache__/
__pycache__
/api-test/allure-results/
/api-test/allure-report/
/api-test/allure_results/
/*.pyc
/regression-test/wandb/
/allure-results/
